.registration_num,
.registration_num_heading {
    padding: 0 5px 0;
}

.registration_name,
.registration_name_heading {
    padding: 0 5px 0;
}

.registration_datetime,
.registration_datetime_heading {
    padding: 0 5px 0;
}

.registration_num {
    color: #aaa;
}

.registration_datetime {
    color: #737373;
    font-size: small;
}